.centered {
  position: fixed; /* or absolute */
  top: 25%;
  left: 50%;
}

.spacedIcon {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

a {
    color : grey;
}

a:visited{
    color: grey;
}

a:hover{
    color:black;
}

body:{
    background-color:#F7F7F7
}